.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    /* help in responsiveness */
    margin-right: auto;
    max-width: 1500px;
/* so we limit screen size so it not stretch unexpectedly */

}
.home_row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;

}
.home_image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;/*elements after this image will creep into it*/
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
    /* by this lower part of the image will fade away */

}
